* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 150px;
    animation: pipe-animation 2s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
    
}

.jump {
    animation: jump 500ms ease-out;
}

/*Grama */
.grass {
    position: absolute;
    bottom: 0;
    width: 160px;
    right: -160px;
    padding-bottom: 34px;
}

.grass-animation{
    animation: grass-animation 3s infinite linear;
}

@keyframes grass-animation {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
    
}


/*Piso*/
.floor {
        width: 1500px;
        position: absolute;
        bottom: 0;
        padding-bottom: 34px;
       
}
.floor-1{
    position: absolute;  
    z-index: 0;
}

.floor-animation-1{
    animation: floor-animation-1 3.1s infinite linear;
}

@keyframes floor-animation-1 {
    0%{
        right:0px;
    }
    100%{
        right: 100%;    
    }
}




.floor-2{
    position: absolute; 
    right: -1500px;
    z-index: 10;
}

.floor-animation-2{
    animation: floor-animation-2 6.2s infinite linear;
}

@keyframes floor-animation-2 {
    0%{
        right:-1500px;
    }
    100%{
        right: 100%;    
    }
}




.floor-3{
    position: absolute;  
    right: -1500px;
    z-index: 10;
}

.floor-animation-3{
    animation: floor-animation-3 6.2s infinite linear;
}

@keyframes floor-animation-3 {
    0%{
        right:-1500px;
    }
    100%{
        right: 100%;    
    }
}


.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 10s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -150px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to{
        right: 100%;
    }
}